.container {
    margin: auto;
    color: white;
    text-align: center;
    line-height: 1.5;
}

.h {
    margin: auto;
    padding-top: 10vh;
    font-size: 50pt;
    text-align: center;
}

.h2 {
    margin: 4vh auto auto;
    width: 30vw;
    word-wrap: break-word;
}

.div1 {
    text-align: center;
    width: 30vw;
    margin: 4vh auto auto;
    word-wrap: break-word;
}

.Link {
    display: inline-block;
    color: black;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 5vh;
    background-color: #FFC329;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 40%);
    padding: 12px 55px 12px 55px;
    margin-bottom: 50px;
}