.container {
    text-align: center;
}

.name {
    padding: 10px;
    color: white;
}

.p {
    color: white;
}

.table {
    padding: 10px;
    color: white;
    margin: auto;
    text-align: left;
}

.table th {
    padding: 10px;
}

.access {
    color: #ffffff;
}

.notAccess {
    color: #fcc73c;
}
