.navLink {
    user-select: none;
    -webkit-user-drag: none;
    color: #000000;
    text-decoration: none;
}

.leftNavs {
    transition: 250ms;
}

.CurrentNavLink {
    color: #a8a8a8;
    transition: 250ms;
}

.leftNavs:hover {
    color: #6b6b6b;
}

.navBar {
    margin-top: 10px;
    font-size: 13pt;
    display: flex;
    padding: 10px;
    vertical-align: middle;
    background-color: white;
}

.navUl {
    padding: 0;
    width: calc(100vw - 500px);
    align-self: center;
    list-style: none;
}

.navLinkLi {
    margin-left: 30px;
    display: inline;
}

.logoRef {
    align-self: center;
    margin-left: 20px;
}

.textEnd {
    align-self: center;
    margin-left: 10px;
}

@media screen and (max-width: 1300px) {
    .textEnd {
    }
}

.textButton {
    font-size: 11pt;
    border: white solid 1px;
}

.login {
    color: black;
    margin-right: 10px;
    transition: 500ms;
    margin-left: 14px;
}

.login:hover {
    color: gray;
}

.register {
    border-color: black;
    padding: 10px 20px 10px 20px;
    color: black;
}

.register:hover {
    border-color: gray;
    color: gray;
}

.authorizedText {
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: #000000;
}
